<li id="comment-<%= comment._id %>">

    <p>
  <h6>
    <%= comment.content %>
  </h6>

      <small style="margin: 0 0 5% 15%;">
        <i class="fa-regular fa-user"></i>
        <i>
          (<%= comment.user.name %>)
        </i>
      </small>
      <% if(locals.user && locals.user.id==comment.user._id){ %>
        <div style="margin-left: 5%; margin-top: -5%; display: inline-block;">
      <small>
          <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>" >  <i style="color: brown;" class="fa-solid fa-circle-minus"></i> </a>
        </small>
    </div>
     
          <% } %>
    </p>
  </li>
