
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark " style="max-height: 6%;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Codeial</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Topics
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item active" href="#">Technology</a></li>
                  <li><a class="dropdown-item active" href="#">Web Development</a></li>
                  <li><hr class="dropdown-divider active"></li>
                  <li><a class="dropdown-item active" href="#">Support</a></li>
                  <li><a class="dropdown-item active" href="#">Write for us</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/contact">Contact Us</a>
              </li>
            </ul>
            <div class="mx-2">
            <form class="d-flex" style="margin-top: 5%;">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Go</button>
            </form>
          </div>
            <div class="mx-2" style="margin-top: -5px;">
                <% if(locals.user){ %>
                <a href="/profile">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                        <%= user.name %>
                      </button>
                </a>
            
                <a href="/users/sign-out">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                        signout
                      </button>
                </a>
                <% } else { %>
                    <a href="/users/sign-up">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                            signup
                          </button>
                    </a>
                
                    <a href="/users/sign-in">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                            signin
                          </button>
                    </a>
                    <% } %>
            </div>
          </div>
        </div>
      </nav>
      
    <!-- <ul>
        <% if(locals.user){ %>
            <li>
                <a href="/users/profile"><%= user.name %></a>
            </li>
            <li>
                <a href="/users/sign-out">sign-out</a>
            </li>
        <% } else {%>
        
            <li>
                <a href="/users/sign-up">sign-up</a>
            </li>
            <li>
                <a href="/users/sign-in">sign-in</a>
            </li>
        <% } %>
    </ul> -->
