<h1>Sign up</h1>

<form action="/users/create" method="post">
<input type="text" name="name" placeholder="your name" required>
<input type="email" name="email" placeholder="email address" required>
<input type="password" name="password" placeholder="password" required>
<input type="password" name="confirm_password" placeholder="confirm password" required>
<button>submit</button>

</form>

<p>
    <a href="/users/auth/google">Google sign-in/sign-up</a>
</p>