<html>
    <head>
       <title>
        <%= title %>
       </title>
    </head>
    <body> 

        <h1>Hey Users take care this is your profile </h1>
        <h3>your name is: <%= user.name %></h3>
        <h3>your email is: <%= user.email %></h3>
        <a href="/users/delete-contact">
            <button>sign out</button>
        </a>

    </body>
</html>