
    <link rel="stylesheet" href="/css/welcome.css" />
      <link rel="stylesheet" href="/css/typing_text.css">
  <body>

 <div class="container1">
   <h2 ><span class="auto-type"></span></h2>
 </div>
    <!-- <h2 class="container2" ><span class="auto-type"></span></h2> -->
  
   <div style=" width: 28%; background-color: whitesmoke; min-height: 62%; margin-left: 38%; margin-top: -33%; display: block;">
    <form  action="/users/create" method="post" >
        <div class="mb-3">
            <div style="margin-left: 40%; font-weight: bold; font-size: large;">Sign Up</div>
            <div style="margin-left: 20%;">
                <span>
                    <p>Already have an account? <a href="/users/sign-in">Log In</a> </p>                   
                </span>
            </div>
            <div style="margin-left: 10%; margin-bottom: 5%;">
              <a href="/users/auth/google">
              <button class="btn btn-success" type="button" style="width: 90% ; border-radius: 20px;">
                <?xml version="1.0" encoding="utf-8"?>
            <svg viewBox="0 0 24 24" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
            <g transform="matrix(1, 0, 0, 1, 27.009001, -39.238998)">
              <path fill="#4285F4" d="M -3.264 51.509 C -3.264 50.719 -3.334 49.969 -3.454 49.239 L -14.754 49.239 L -14.754 53.749 L -8.284 53.749 C -8.574 55.229 -9.424 56.479 -10.684 57.329 L -10.684 60.329 L -6.824 60.329 C -4.564 58.239 -3.264 55.159 -3.264 51.509 Z"/>
              <path fill="#34A853" d="M -14.754 63.239 C -11.514 63.239 -8.804 62.159 -6.824 60.329 L -10.684 57.329 C -11.764 58.049 -13.134 58.489 -14.754 58.489 C -17.884 58.489 -20.534 56.379 -21.484 53.529 L -25.464 53.529 L -25.464 56.619 C -23.494 60.539 -19.444 63.239 -14.754 63.239 Z"/>
              <path fill="#FBBC05" d="M -21.484 53.529 C -21.734 52.809 -21.864 52.039 -21.864 51.239 C -21.864 50.439 -21.724 49.669 -21.484 48.949 L -21.484 45.859 L -25.464 45.859 C -26.284 47.479 -26.754 49.299 -26.754 51.239 C -26.754 53.179 -26.284 54.999 -25.464 56.619 L -21.484 53.529 Z"/>
              <path fill="#EA4335" d="M -14.754 43.989 C -12.984 43.989 -11.404 44.599 -10.154 45.789 L -6.734 42.369 C -8.804 40.429 -11.514 39.239 -14.754 39.239 C -19.444 39.239 -23.494 41.939 -25.464 45.859 L -21.484 48.949 C -20.534 46.099 -17.884 43.989 -14.754 43.989 Z"/>
            </g>
          </svg>
                Continue with Google</button>
              </a>
            </div>
          <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
        </div>
        <div class="mb-3">
            <input type="email" name="email" class="form-control" id="exampleInputPassword2" placeholder="Email">
          </div>
        <div class="mb-3">
          <input type="password" name="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
        </div>
        <div class="mb-3">
            <input type="password" name="confirm_password" class="form-control" id="exampleInputPassword4" placeholder="Confirm Password">
          </div>
          <div id="emailHelp" class="form-text " style="margin-left: 10%;">We'll never share your email with anyone else.</div>
        <div class="mb-3 form-check"  style="margin-left: 10%;">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div >
        <button type="submit" class="btn btn-primary mb-3 form-control">Sign Up</button>
        <div style="margin-left: 60%;">
        <a href="/forgot-password"> <small> Forgot Password? </small></a>
      </div>
    <div style="margin-left: 5% ; margin-top: 3%; ">
    <small><p>By clicking Sign up or Continue with Google,you agree to our <a href="">Terms and Conditions</a> and <a href=""> Privacy Statement.</a></p></small>
</div>
      </form>
    </div>

      <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
      <script>
        var typed=new Typed(".auto-type",{
          strings:["Welcome to Codeial","We are ready to serve you <br>differently","All you need is a digital Push"],
          typeSpeed:60,
          backSpeed:20,
          loop:true
        })
      </script>

  </body>